# ============================================
# .gitignore
# ============================================

# ============================================
# Manual Directory Entries
# ============================================
.backup/
.claude/
.dev/
.mypy_cache
node_modules/

# ============================================
# Manual File Entries
# ============================================
.claudeignore

# ============================================
# Grey Ledger
# ============================================
/home/jasonftl/Bank.txt
/home/jasonftl/Mail.txt
/root/Bank.txt
/root/Mail.txt
/etc/passwd
