# ============================================
# .gitignore
# ============================================

# ============================================
# Manual Entries
# ============================================
.backup/
.claude/
.claudeignore
node_modules/
scripts/

# ============================================
# Ghost Ledger
# ============================================
/home/jasonftl/Bank.txt
/home/jasonftl/Mail.txt
/root/Bank.txt
/root/Mail.txt
/etc/passwd
