# ============================================
# .gitignore
# ============================================

# ============================================
# Manual Entries
# ============================================
.claude/
.claudeignore
create_repo.bat
gs.bat

# ============================================
# Ghost Ledger
# ============================================
/home/jasonftl/Bank.txt
/home/jasonftl/Mail.txt
/root/Bank.txt
/root/Mail.txt
/etc/passwd
